{% extends 'base.html.twig' %}
{% block title %} Bienvenue! {% endblock %}


{% block body %}
<div class="container">
{% if app.user %}

    <h1 style="text-align:center;"> Un plaisir de vous revoir </h1>
    <h2 style="text-align:center; color:green;">{{ app.user.nom }} {{ app.user.prenom }}!!</h2>
    <img src="Image/acceuil.jpg">

{% else %}
  
<h1> Bienvenue sur notre site CognitiveDrive
    </h1>

    <br>

    <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
  <div class="card-header"><h2>Psychologue</h2></div>
  <div class="card-body">
    <h4 class="card-title"><a href="{{path('inscription_user')}}">Je suis un psychologue</a></h4>
    <p class="card-text">Si vous cliquez ici, vous affirmez que vous êtes  psychologue et que vous voulez vous inscrire à notre site</p>
  </div>
</div>
<br>
<div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
  <div class="card-header"><h2>Patient</h2></div>
  <div class="card-body">
    <h4 class="card-title"><a href="{{path('inscription_patient')}}">Je suis un patient</a></h4>
    <p class="card-text">Si vous cliquez ici, vous voulez vous inscrire à notre site en tant que patient</p>
  </div>
</div>
{% endif %}




</div>
{% endblock %}