{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="container">
<h1>A propos de nous</h1>
<div class="jumbotron">
<h2>Notre entreprise</h2> 
<section class="row">
<section class="col-5 my-4">
<img src="Image/iconeCognitive.PNG" class="propos" alt="imgentr">
</section>
<section class="col-7 my-4">
<h2>The PSY-NAPS GROUP</h2>
<p>Le groupe PsyNAps, coordonné par Martin Edwards se situe à l’Université catholique de Louvain, plus précisément au bâtiment Socrate dans l’institut de recherche en sciences psychologiques, affilié à l’institut des neurosciences et incorporé avec Louvain Bionics.</p>
<p>Leurs recherches sont basées sur le développement de nouvelles mesures de diagnostic et des exercices de traitement de la perception et de l’action, en utilisant la nouvelle technologie telle que la réalité virtuelle </p>
<p>Vous trouverez plus amples informations sur ce site via <a href="https://www.psy-naps.org/" target=_blank>ce lien</a></p>


</section>
</section>
<hr>
<h2> Les membres</h2>
<br>
<section class="row">
<section class="col-3 my-4">
<img src="Image/guillaume.jpg" class="avatar" alt="imgGuillaume">
</section>
<section class="col-9 my-4">
<h2>Guillaume Wyart</h2>
<h4>Développeur</h4>
<p>Passionné par l'informatique, ayant eu une formation de trois ans au sein de l'EPHEC à Louvain-La-Neuve.</p>
<p>Vous trouverez plus amples informations sur son site personnelle via <a href="https://wyartguillaume.wixsite.com/monsite" target=_blank>ce lien</a></p>
</section>
<hr>
<section class="col-3 my-4">
<img src="Image/psycho.png" class="avatar" alt="imgEmilie">
</section>
<section class="col-9 my-4">
<h2>Emilie Lacroix</h2>
<h4>Neuropsychologue clinicienne et docteur en sciences psychologiques et de l'éducation</h4>
<p>Passionné par la psychologie, c'est la créatrice de ce projet.</p>
</section>
<hr>
<section class="col-3 my-4">
<img src="Image/psycho.png" class="avatar" alt="imgEmilie">
</section>
<section class="col-9 my-4">
<h2>Martin Edwards</h2>
<h4>Coordinateur du groupe</h4>
</section>
<hr>
<section class="col-3 my-4">
<img src="Image/psycho.png" class="avatar" alt="imgEmilie">
</section>
<section class="col-9 my-4">
<h2>Stephane Grade</h2>
<h4>Superviseur du groupe</h4>
</section>
</div>
</div>
{% endblock %}