{% extends 'base.html.twig' %}
{% block title %} RGPD {% endblock %}


{% block body %}
<div class="container">
<h1>Protection de vos données</h1>
<h3>En accord avec la loi relative à la protection des données, voici les droits que vous possédez:</h3>

<div class="jumbotron">
<h4>Droit à l'effacement des données</h4>

<p>Vos données personnelles peuvent être effacées dans les meilleurs délais si l’un des motifs suivants s’applique :</p>
<ul>
<li>vos données ne sont plus nécessaires au regard des finalités</li>
<li>vous retirez votre consentement sur lequel est fondé le traitement et il n'existe pas d'autre fondement juridique au traitement</li>
<li>vous vous opposez au traitement de vos données et il n'existe pas de motif légitime impérieux pour le traitement</li>
<li>vos données personnelles ont fait l'objet d'un traitement illicite</li>
<li>vos données personnelles doivent être effacées pour respecter une obligation légale</li>
<li>vos données personnelles ont été collectées dans le cadre de l'offre de services de la société de l'information quand vous étiez enfant</li>
</ul>
<h4>Droit à la portabilité de vos données</h4>

<p>Vous avez, tout d’abord, le droit de recevoir en retour les données personnelles que vous avez fournit.</p>

<p>Ensuite, vous avez le droit de transmettre ces données à un autre entité ou fournisseur de service.</p>


<h4>Droit d'accéder à vos données</h4>

<p>Vous avez le droit d'obtenir la confirmation que vos données personnelles sont ou ne sont pas traitées et, lorsqu'elles le sont, vous avez le droit d’obtenir l'accès aux données ainsi qu’aux informations supplémentaires suivantes :</p>
<ul>
<li>les finalités du traitement.</li>
<li>les catégories de données personnelles concernées.</li>
<li>les destinataires ou catégories de destinataires auxquels vos données personnelles ont été ou seront communiquées, en particulier les destinataires qui sont établis dans des pays tiers ou les organisations internationales.</li>
<li>lorsque cela est possible, la durée de conservation envisagée ou, lorsque ce n'est pas possible, les critères utilisés pour déterminer cette durée.</li>
<li>l'existence du droit de demander la rectification ou l'effacement de vos données personnelles, ou une limitation du traitement de celles-ci, ou du droit de vous opposer à ce traitement.</li>
<li>le droit d'introduire une plainte auprès d'une autorité de contrôle;</li>
<li>la source des données en cas de collecte indirecte;</li>
<li>l'existence d'une prise de décision automatisée, y compris un profilage, et, au moins en pareils cas, les informations utiles concernant la logique sous-jacente, ainsi que l'importance du traitement de vos données et les conséquences que cela pourrait avoir pour vous.</li>
</ul>
<p>Vous avez également le droit d’obtenir une copie des données qui font l’objet d’un traitement. Cette demande, conformément à l’article 12 du RGPD, est gratuite.</p>

<p>Notez que CognitiveDrive peut exiger le paiement de frais raisonnables basés sur les coûts administratifs pour toute copie supplémentaire demandée.</p>


<h4>Droit à la rectification de vos données</h4>

<p>Vous avez le droit d'obtenir de l’entité qui traite vos données personnelles la rectification des données à caractère personnel qui sont inexactes, et ce dans les meilleurs délais.</p>


<h4>Droit à la limitation du traitement de vos données</h4>

<p>La limitation du traitement de vos données personnelles permet en principe de garder les données personnelles tout en limitant l’usage que l’on peut faire de ces données.</p>

<p>Dans quelles hypothèses peut-on imaginer vouloir demander la limitation du traitement de nos données ?</p>

<p><b>Le RGPD envisage 4 cas :</b></p>

<ul>
<li>Vous contestez l'exactitude de vos données personnelles. Dans ce cas-là, le traitement des données pourra être limité pendant une durée nécessaire à la vérificaiton de l'exactitude des données.</li>

<li>Bien que le traitement soit illicite, vous vous opposez à l’effacement de vos données personnelles et vous exigez à la place la limitation de leur utilisation.</li>

<li>CognitiveDrive n'a plus besoin de vos données mais celles-ci vous sont encore nécessaires pour la constatation, l'exercice ou la défense de droits en justice.</li>

<li>Vous vous êtes opposé au traitement. Dans ce cas-là, le traitement des données pourra être limité pendant la vérification portant sur le point de savoir si nos motifs légitimes prévalent sur les vôtres.</li>
</ul>
<p>Lorsque, dans le cadre de l’une de ces hypothèses, vous avez obtenu la limitation du traitement de vos données, CognitiveDrive devra vous informer avant de lever cette limitation du traitement.</p>

<p>En outre, lorsque vous avez obtenu la limitation de vos données personnelles, elles ne pourront, en principe, plus faire l’objet d’opération de traitement, excepté le stockage.</p>


<p><b>Si l’on souhaite néanmoins réaliser d’autres opérations de traitement, il faut rentrer dans l’une des hypothèses suivantes :</b></p>

<p>Vous avez donné votre consentement, il s’agit de permettre la constatation, l’exercice ou la défense de droits en justice. Il s’agit de protéger les droits d’une autre personne physique ou morale ou encore pour des motifs importants d’intérêt public de l’Union ou d’un EM.</p>
</div>
</div>
{% endblock %}