{% extends "base.html.twig" %}

{% block title %}Vous n'avez pas les droits d'accéder à cette ressource{% endblock %}

{% block body %}
    <div class="container">
    <h1>Alors? On essaye de casser le site web?</h1>
    <div class="alert alert-danger">
        <p>Vous n'avez pas le droit d'accéder à cette ressource!</p>
    </div>

    <a href="{{path('acceuil')}}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}