{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
<div class="container">
<h1>Bienvenue sur notre forum</h1>

<h3 class="alert-heading">Un problème? Une question? Alors n'hésitez pas à écrire sur ce forum!!</h3>
<a class="btn btn-primary btn-lg" href="{{path('aidePost')}}" role="button">Appuyer ici!</a></td>
</div>
{% endblock %}